{% extends 'base.html' %}

{% block content %}
<div class="center">
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<h2><i class="fa fa-remove text-danger"></i> Borrar Alumno</h2>
		<p>Estas seguro <span>borrar</span> el alumno"{{object}}"?</p>
        <br>
		<p class="form-buttons">
			<input type="submit" class="btn btn-primary btn-danger" value="Borrar">
			<a href="{% url 'alumno' %}" class="btn btn-secondary">Cancelar</a>
		</p>
	</form>
</div>

{% endblock content %}