{% extends 'base.html' %}


{% block content %}

    <h1>Alumnos Listar</h1>

    <div class="col text-end">
        
        <a href="{% url 'cargar-alumno' %}" 
            class="btn btn-success" role="button"
            data-toggle="tooltip" title="Agregar"">
            <i class="fa-solid fa-plus"></i> Agregar desde Excel
        </a>
        <a href="{% url 'alumno-crear' %}" 
            class="btn btn-success" role="button"
            data-toggle="tooltip" title="Agregar"">
            <i class="fa-solid fa-plus"></i> Agregar Manual
        </a>
    </div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">RUT</th>
            <th scope="col">Nombre</th>
            <th scope="col">Facultad</th>
            <th scope="col">Carrera</th>
            <th scope="col">Horas</th>
            <th scope="col">Credito</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
            {% for obj in page_obj %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ obj.rut }}</td>
                <td>{{ obj.nombre }}</td>
                <td>{{ obj.facultad }}</td>
                <td>{{ obj.carrera }}</td>
                <td>
                    <ul class="list-unstyled">
                        {% for clave, valor in obj.horas_year.items %}
                        <li>{{ clave }}: {{ valor }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ obj.creditos }}</td> 
                <td>
                    <a href="{% url 'alumno-editar' pk=obj.pk %}" 
                        class="btn btn-info" role="button"
                        data-toggle="tooltip" title="Editar"">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </a>
                    <a href="{% url 'alumno-borrar' pk=obj.pk %}" 
                        class="btn btn-danger" role="button"
                        data-toggle="tooltip" title="Borrar"">
                        <i class="fa-regular fa-trash-can"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        
        </tbody>
      </table>
      <div class="pagination d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if is_paginated %}
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">&laquo; Primera</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
                    {% endif %}
            
                    {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="page-item page-link active" aria-current="page"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a class="page-item page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </nav>
    </div>

{% endblock%}